@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@300;400&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

/* Forest Green #2C5F2D, Moss Green #97BC62FF Light Olive #E7E8D1, Light Teal #A7BEAE */
body{
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
}

section{
    height: 500px;
    background-color:  #526959;
    border: solid black 1px;
}

.hero{
    background-color:#252b25;
    height: 100vh;
    color: rgb(253, 253, 253);
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li{
    /*width: 200px;*/
    text-decoration: none;
}
h1{
    font-size: 70px;
    margin: 0;
}

p{
    margin: 0;
    font-size: 30px;
    font-weight: 400;
}

.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
}

.button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: chocolate;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover{
    background-color: #1f7a3a;
}

.button:active{
    background-color:#32a354;
    color: #808080;
}

.socials{
    padding-bottom: 200px;
}

.logo{
    height: 250px;
    margin: 10px;
}

.icons{
    margin: 10px 0;
}

.socials .icons i{
    font-size: 30px;
    color: #B1BACF;
}

footer {
    height: 500px;
    background-color: #384638;
}